experiments/

#Ignore vim temporary files
*.swp
*.swo

#Ignore initramfs and uboot files placed in top directory since that's the default install place
/initramfs.cpio.gz
/initramfs.cpio.gz.uImage
/u-boot.bin

busybox-1.31.1/
busybox-1.31.1/install_rootfs/
busybox-1.31.1/install_initramfs/
busybox-1.31.1/applets/
busybox-1.31.1/docs/
busybox-1.31.1/include/

openssl-1.1.1g/

libnl-3.2.25/

wpa_supplicant-2.9/

rootfs/

src/wifi*.o